<!DOCTYPE html>
<html>
    <head>
        <title>Boria Boria</title>
        <link rel="stylesheet" href="~/css/style.css">      
    </head>
    <body>
        <h1>layout</h1>

        @RenderBody()          
    </body>
    <script src="~/js/script.js">
        
    </script>
</html>