<h4>Twilight</h4>       
<!-- cs itu sintaks c#, ada sintaks lajor? (at 2) -->


@{
    
    string name = "Jonggol";
}

@if(name == "Johngol"){
    <h1>Hello Johngol</h1>
}else{
    <h8>Kamu bukan @name</h8>
}

<p>inihana1@@gmail.com</p>
<h3> Hy @name </h3>
<p>Tanggal : @DateTime.Now.ToShortDateString()</p>

<a href='@Url.Action("About","Home")'>About<br><br><br></a>       <!-- kebalik -->
<button>Button</button>